<% include ../partials/header.ejs %>

<h1>Profile Page</h1>
<div class="ui grid">
<div class="four wide column"><div class="ui clearing divider"></div></div>
<div class="eight wide column">
<div class="ui fluid card">
  <div class="content">
    <a class="header" onclick="return false"><%= currentUser.username %></a>
    <div class="meta">
      <span class="date"><%= currentUser.email%></span>
    </div>
    <div class="description">
      <%= currentUser.address %>
    </div>
  </div>
  <div class="ui bottom attached bleu button">
    <i class="edit icon"></i>
    Edit Profile
  </div>
</div>
</div>
<div class="four wide column"><div class="ui clearing divider"></div></div>
</div>

<div>Mailer</div>

<% include ../partials/footer.ejs %>