<% include ../partials/header %>

<h2 class="ui center aligned icon header">
        <i class="browser icon"></i>
        <div class="content">
          Orders
        </div>
      </h2>
      
      
      <div class="ui center aligned segment ">
      </div>

<% include ../partials/footer %>