<% include ../partials/header %>

<h2 class="ui center aligned icon header">
        <i class="browser icon"></i>
        <div class="content">
          Orders
        </div>
      </h2>
      <div class="ui center aligned segment ">
        <h3>Cart</h3>
        <div class="ui center aligned segment ">
        
      </div>
      </div>
      <div class="ui center aligned segment ">
        <h3>Order history</h3>
        <table class="ui celled striped table">
  <thead>
    <tr><th colspan="4">
     Orders
    </th>
  </tr>
    <tr>
    <th class="single line">ID</th>
    <th>Date</th>
    <th>Price</th>
    <th>Status</th>
  </tr></thead>
  <tbody>
    <tr>
      <td class="collapsing">
        <i class="file outline icon"></i> 123456
      </td>
      <td>1/2/2017</td>
      <td class="right aligned collapsing">50€</td>
      <td class="right aligned collapsing">
      <i class="green check icon"></i>Finished</td>
    </tr>
    
  </tbody>
</table>
      </div>
<% include ../partials/footer %>